<% if(headerText) {%>
	<h1 id="header-text"><%= headerText %></h1>
<% } %>	

<div id="archive" style="overflow:hidden;">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <div id="archive-datetimepicker"></div>
            </div>
            <div class="col-md-4">
            	<div id="category-radio">
	                <div class="radio-inline">
					  <label><input checked  type="radio" name="category-radio" class="category-radio">NBA</label>
					</div>
					<div class="radio-inline">
					  <label><input type="radio" name="category-radio" class="category-radio">NFL</label>
					</div>
				</div>
				<br />
				<div>
	                <div class="radio-inline">
					  <label><input checked  type="radio" name="digest-radio" class="digest-radio">Daily</label>
					</div>
					<div class="radio-inline">
					  <label><input type="radio" name="digest-radio" class="digest-radio">Weekly</label>
					</div>
					<div class="radio-inline">
					  <label><input type="radio" name="digest-radio" class="digest-radio">Monthly</label>
					</div>
				</div>
				<br />
				<div>
	                <a id="archive-submit"  class="btn btn-lg btn-success col-xs-12"> Get archived data </a>
				</div>
            </div>
        </div>
    </div>
</div>