
<%if (type == SportsBuzzClient.tweetsCategory.NBA) { %>
	<a href="#NBAStories/daily" class="btn btn-lg btn-success col-sm-4 col-xs-12">
		Daily digest
	</a>
	<a href="#NBAStories/weekly" class="btn btn-lg btn-success col-sm-4 col-xs-12">
		Weekly digest
	</a>
	<a href="#NBAStories/monthly" class="btn btn-lg btn-success col-sm-4 col-xs-12">
		Monthly digest
	</a>
<% } %>

<%if (type == SportsBuzzClient.tweetsCategory.NFL) { %>
	<a href="#NFLStories/daily" class="btn btn-lg btn-success col-sm-4 col-xs-12">
		Daily digest
	</a>
	<a href="#NFLStories/weekly" class="btn btn-lg btn-success col-sm-4 col-xs-12">
		Weekly digest
	</a>
	<a href="#NFLStories/monthly" class="btn btn-lg btn-success col-sm-4 col-xs-12">
		Monthly digest
	</a>
<% } %>
